@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #f6f7f8 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 18px;
  font-family: "Manrope", sans-serif;
}

#headerContainer {
  height: 72px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 50px;
  opacity: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  
}

.rowLogo {
  margin-left: 20px;
}

.navbar {
  display: flex;
}

.navbar-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 19px;
  font-size: 14px;
}

.rowLogo {
  width: 211px;
  height: 48px;
  background: transparent url("img/TestLogo.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-left: 32px;
}

.homelogo{
  width: 44px; 
  height: 44px; 
  background: transparent url('img/home_FILL0_wght300_GRAD0_opsz24.png') no-repeat center;
}

.patientlogo{
  width: 44px; 
  height: 44px;
  background: transparent url('img/group_FILL0_wght300_GRAD0_opsz24.svg') no-repeat center;
}

.schedulelogo{
  width: 44px; 
  height: 44px; 
  background: transparent url('img/calendar_today_FILL0_wght300_GRAD0_opsz24.png') no-repeat center;
}

.messagelogo{
  width: 44px; 
  height: 44px; 
  background: transparent url('img/chat_bubble_FILL0_wght300_GRAD0_opsz24.svg') no-repeat center;
}

.transactionslogo{
  width: 44px; 
  height: 44px; 
  background: transparent url('img/credit_card_FILL0_wght300_GRAD0_opsz24.svg') no-repeat center;
}

.doctor-info {
  display: flex;
  align-items: center; 
  margin-right: 30px;
}

.doctor-logo {
  width: 44px; 
  height: 44px; 
  background: transparent url('img/senior-woman-doctor-and-portrait-smile-for-health-2023-11-27-05-18-16-utc.png') no-repeat center;
  opacity: 1;
}

.doctor-text {
  margin-left: 10px;
  font-size: 14px; 
  line-height: 19px;
  display: flex;
  flex-direction: column; 
}

.doctor-text p:first-of-type {
  font-weight: bold;
}

.extra-logos {
  display: flex;
  background-size: cover; 
  margin-left: 10px; 
}

.extra-logo1{
  width: 44px; 
  height: 44px; 
  background: transparent url('Img/more_vert_FILL0_wght300_GRAD0_opsz24.png') no-repeat center;
}

.extra-logo2{
  width: 44px; 
  height: 44px;
  flex-wrap: wrap;
  background: transparent url('Img/settings_FILL0_wght300_GRAD0_opsz24.png') no-repeat center;
  margin-right: -19px;
}

.mainBody{
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box; 
}

.diagnosisHistory {
  width: 688px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;
  padding: 20px;
  margin-top: 32px;
  margin-left: 45px;
  margin-right: -62px;
}


.diagnosticList {
  width: 688px;
  height: 349px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;
  padding: 20px;
  margin-top: 32px;
  margin-left: 45px;
  overflow-y: auto; 
  margin-right: -36px;
}

.jessica-img {
 width: 200px;
 height: 200px;
 margin-left: 59px;
 margin-top: 32px;
 margin-right: 83px;
 margin-bottom: 24px;
}

.jessica-name {
  font-weight: bold;
  margin-left: 85px;
  font-size: 24px;
}

.jessicaLabContainer{
  flex-direction: column;
}

.jessica-detail {
  display: flex;
  flex-direction: row;
  align-items: center; 
  margin-bottom: 16px; 
  margin-top: 13px;
  font-size: 14px;
}



.label-value-container {
  margin-left: 18px;
}

.detail-icon {
  margin-bottom: 8px; 
  margin-top: 10px;
  width: 42px;
  height: 42px;
}

.detail-label {
  font-weight: bold; 
  margin-bottom: 4px;
}

.detail-value {
  font-weight: normal; 
}


.labResults{
  width: 310px;
  height: 296px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;
  padding: 20px;
  margin-top: 32px;
  margin-left: 64px;

  

}

.JessicaData {
  width: 310px;
  height: 740px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;
  padding: 20px;
  margin-top: 16px;
  margin-left: 65px;
}

#patientList {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}

.patients-container {
  display: flex;
}

.patients {
  margin-bottom: 0;
  text-align: left;
    font: normal normal 800 24px / 33px Manrope;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
    margin-bottom: 40px;
}

.common-img {
  width: 15px;
  margin-left: 10px;
  padding-top: 22px;
  padding-left: 32px;
}

.search {
  margin-left: 100px;
  margin-top: 9px;
}

.patientScroll {

  width: 256px;
  height: 1091px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;
  padding: 20px;
  margin-top: 32px;
  overflow-y: auto; 
  margin-right: -18px;
}

.patient-list-item {
  margin-bottom: 20px;
  display: flex; 
  align-items: flex-start; 
}

.profile-container {
  display: flex; 
  align-items: flex-start; 
  height: 48px;
  width: 317px;
}

.profile-img {
  width: 48px;
  height: 48px;
  border-radius: 50%; 
  object-fit: cover; 
  margin-right: 20px; 
}

.details-container {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  font-size: 14px;
  margin-left: -10px;
}

.patient-name {
  font-weight: bold; 
  margin-bottom: 5px;
}

.patient-info {
  margin: 0; 
}

.patientScroll::-webkit-scrollbar {
  width: 5px;
}

.patientScroll::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 4px; 

}

.diagnosticContainer::-webkit-scrollbar-thumb:hover {
  background: #072635; 
}

.diagnosticContainer::-webkit-scrollbar {
  width: 5px;
}

.diagnosticContainer::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 4px; 

}

.diagnosticContainer::-webkit-scrollbar-thumb:hover {
  background: #072635; 
}


.diagnosisHistory > p {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800)
  var(--unnamed-font-size-24) / var(--unnamed-line-spacing-33)
  var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
  text-align: left;
  font: normal normal 800 24px/33px Manrope;
  letter-spacing: 0px;
  color: #072635;
  opacity: 1;
  margin-bottom: 40px;
}

.labResults > p {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800)
  var(--unnamed-font-size-24) / var(--unnamed-line-spacing-33)
  var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
  text-align: left;
  font: normal normal 800 24px/33px Manrope;
  letter-spacing: 0px;
  color: #072635;
  opacity: 1;
  margin-bottom: 40px;
}

#labResultsList {
  list-style-type: none; /* Removes bullet points */
  padding: 0; /* Removes padding */
  margin: 0; /* Removes margin */
}

#labResultsList li {
  /* Adds some space around each list item */
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 18px;
}


.diagnosticList > p {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800)
  var(--unnamed-font-size-24) / var(--unnamed-line-spacing-33)
  var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
  text-align: left;
  font: normal normal 800 24px/33px Manrope;
  letter-spacing: 0px;
  color: #072635;
  opacity: 1;
  margin-bottom: 40px;
}


table {
  width: 100%;
  border-collapse: collapse; 
  font-size: 14px;
}

thead {
  height: 48px;
  width: 100%;
  font-size: 14px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #f6f7f8 0% 0% no-repeat padding-box;
  border-radius: 70px;
  opacity: 1;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  text-align: left; 
}

thead th {
  padding: 12px 15px; 
  font-weight: bold; 
  font-size: 14px;
  text-align: left;
}

tbody td {
  padding: 12px 15px; 
  text-align: left;
  vertical-align: top; 
}

table th:nth-child(1), table td:nth-child(1) {
  width: 20%; 
}

table th:nth-child(2), table td:nth-child(2) {
  width: 60%; 
}

table th:nth-child(3), table td:nth-child(3) {
  width: 20%;
}

td {
  word-wrap: break-word; 
}


.patientScroll > p {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800)
  var(--unnamed-font-size-24) / var(--unnamed-line-spacing-33)
  var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
  text-align: left;
  font: normal normal 800 24px/33px Manrope;
  letter-spacing: 0px;
  color: #072635;
  opacity: 1;
  margin-bottom: 40px;
}


#graphContainer {
  height: 298px;
  background: #f4f0fe 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

#graphTitle {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-18) / var(--unnamed-line-spacing-24)
    var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
  text-align: left;
  font: normal normal bold 18px/24px Manrope;
  letter-spacing: 0px;
  color: #072635;
  text-transform: capitalize;
  opacity: 1;
  margin-bottom: 8px;
}

.graphLegendTitle {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-14) / var(--unnamed-line-spacing-19)
    var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
  text-align: left;
  font: normal normal bold 14px/19px Manrope;
  letter-spacing: 0px;
  color: #072635;
  text-transform: capitalize;
  opacity: 1;
}

.graphLegendContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.graphLegend {
  opacity: 1;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.graphLegend.systolic {
  background: #e66fd2 0% 0% no-repeat padding-box;
}

.graphLegend.diastolic {
  background: #8c6fe6 0% 0% no-repeat padding-box;
}

.graphLegendValue {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    22px/30px var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
  text-align: left;
  font: normal normal bold 22px/30px Manrope;
  letter-spacing: 0px;
  color: #072635;
  text-transform: capitalize;
  opacity: 1;
  margin-bottom: 8px;
}

.graphLegendRange {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
    var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
  text-align: left;
  font: normal normal normal 14px/19px Manrope;
  letter-spacing: 0px;
  color: #072635;
  opacity: 1;
  margin-bottom: 32px;
}

#diagnosisStats {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 21px;
}

.diagnosisStatsCard {
  width: 228px;
  border-radius: 12px;
  opacity: 1;
  padding: 16px;
}

.diagnosisStatsTitle {
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal medium 16px/22px
    var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
  text-align: left;
  font: normal normal medium 16px/22px Manrope;
  letter-spacing: 0px;
  color: #072635;
  text-transform: capitalize;
  opacity: 1;
}

.diagnosisStatsValue {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800)
    30px/41px var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
  text-align: left;
  font: normal normal 800 30px/41px Manrope;
  letter-spacing: 0px;
  color: #072635;
  opacity: 1;
  margin-bottom: 17px;
}

.diagnosisStatsRange {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
    var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
  text-align: left;
  font: normal normal normal 14px/19px Manrope;
  letter-spacing: 0px;
  color: #072635;
  opacity: 1;
}

.diagnosisStatsCardLogo {
  width: 96px;
  height: 96px;
  opacity: 1;
  margin-bottom: 16px;
}

#respiratoryRate {
  background: #e0f3fa 0% 0% no-repeat padding-box;
}

#respiratoryRateLogo {
  background: transparent url("img/respiratory\ rate.svg") 0% 0% no-repeat
    padding-box;
}

#temperature {
  background: #ffe6e9 0% 0% no-repeat padding-box;
}

#temperatureLogo {
  background: transparent url("img/temperature.svg") 0% 0% no-repeat padding-box;
}

#heartRate {
  background: #ffe6f1 0% 0% no-repeat padding-box;
}

#heartRateLogo {
  background: transparent url("img/HeartBPM.svg") 0% 0% no-repeat padding-box;
}
